*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  line-height: 1.5;
  color: var(--color-text);
  background: var(--color-background);
}

a {
  color: var(--color-accent);
}
